@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
  background-color: #373636;
}

.banner-img {
    width: 100%;
}

.title {
    color: white;
    position: relative;
    text-align: center;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 10%;
    margin-bottom: 10%;
}

input{
    border-radius: 20px;
    padding: 5px;
}

.subtitle{
    color: white;
    position: relative;
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.big-title {
    color: black;
    position: relative;
    top: 100px;
    text-align: center;
    font-size: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 10%;
}

.ctn {
    margin: 0;
    position: absolute;
    top: 40%;
    height: 50%;
    width: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-from {
    margin: 0;
    position: absolute;
    height: 50%;
    width: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn {
    background: linear-gradient(45deg, #05abe0 0%, #74CB92 100%);
    text-align: center;
    align-items: center;
    position: relative;
    margin-top: 15%;
    width: 100%;
    left: 50%;
    border-radius: 40px;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}