@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.qr-card {
    margin-top: 10%;
    font-family: 'Montserrat', sans-serif;!important;
    font-size: 30px;
    color: white;
}

.ctn {
    margin-bottom: 1000px;
}

#blank-space {
    height: 200px;
}

.card-price {
    font-family: 'Montserrat', sans-serif;!important;
    font-size: 40px;
    color : white;
}

.card-text {
    margin-top: 10%;
    font-family: 'Montserrat', sans-serif;!important;
    font-size: 30px;
    color : white;
}

.blurred-image {
        filter: blur(15px); /* Adjust blur level as needed */
    }

.btn-primary{
    background: linear-gradient(45deg, #05abe0 0%, #74CB92 100%);
}