@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
body {
    background-color: #373636;
    height: 100%;
    overflow: hidden
}

.banner-img {
    width: 100%;
}

.ctn {
    margin: 0;
    position: absolute;
    top: 30%;
    height: 50%;
    width: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
