{% extends "site/base.html" %}
<!DOCTYPE html>
{% load static %}

{% block title %}About{% endblock %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="title">
<h1>About</h1>
</div>
            <div class="align-items-lg-center">
                <img class="center" src="../static/assets/iSABEL%20logo%20%small(dark).png" alt="About Us Image">
            </div>
<p class="ctn">
    Welcome to the Galactic Leaderboard, where heroes and villains clash for supremacy in the cosmos! As the stars twinkle above, our leaderboard tracks the mightiest beings from every corner of the galaxy. But beware, for even in the darkest depths of space, rumors swirl of unexpected alliances and hidden powers.
In a galaxy far, far away, amidst the chaos of interstellar warfare and political intrigue, whispers echo of a certain Gungan from Naboo. Yes, you guessed it! Jar Jar Binks, the clumsy and lovable amphibian, rumored to be a Sith Lord in disguise, has somehow made his way onto our leaderboard. Could it be true? Or just a wild conspiracy theory cooked up by overzealous Star Wars fans?
Meanwhile, on the distant planet of Tatooine, a young farm boy dreams of adventure among the stars. Little does he know that destiny has a different path in store for him – one that leads straight to the top of our leaderboard. Will he rise to become a Jedi Master, or will the temptations of the dark side prove too strong?
As starships soar through the cosmos and lightsabers clash in epic duels, our leaderboard stands as a testament to the triumphs and trials of those who dare to seek glory among the stars. So, whether you're a scrappy smuggler, a noble Jedi, or even a certain Sith Lord in disguise, come join the fray and see where you stand in the annals of galactic history!
</p>
            </body>
{% endblock %}