{% extends "site/base.html" %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'styles/about.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
    <div class="card display_card" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="500" style="border-radius: 40px;">
        <div class="card-body">
            <h1 class="card-title">Our vision</h1>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="bi bi-graph-up"></i> 2030 Net Zero Goal</li>
                <li class="list-group-item"><i class="bi bi-award"></i> 1st in Europe for Climate Action</li>
                <li class="list-group-item"><i class="bi bi-bar-chart"></i> 4th in UK for Affordable and Clean Energy</li>
            </ul>
        </div>
    </div>
    <div class="card display_card" data-aos="flip-left" data-aos-easing="ease-in-out" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="500" style="border-radius: 40px;">
        <div class="card-body">
            <h1 class="card-title">How To Play</h1>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">> Scan the barcode of an item that you have bought</li>
                <li class="list-group-item">> Find a bin</li>
                <li class="list-group-item">> Scan the QR code on the bin to redeem your points</li>
                <li class="list-group-item">> Repeat to level up and buy rewards with your XP</li>
            </ul>
        </div>
    </div>
    <div class="card display_card" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="500" style="border-radius: 40px;">
        <div class="card-body" style="padding: 30px;">
            <p style="color: white;font-size: 30px; width:100%;word-wrap: break-word;">After much planning and deliberation, iSABEL imagined a system where users could scan
            the barcodes of food items purchased on campus and receive XP rewards based on their
            sustainability ranking. Scanning an item would add it to a user's virtual 'basket'. Items that are vegetarian, vegan, don't contain
            palm oil, have recyclable packaging etc., encourage faster levelling. Players compete to top the leaderboard and
            help to reduce littering, promote recycling, and more sustainable food options on campus.
            <br>
            <br>
            Please see our <a href="https://www.iubenda.com/privacy-policy/54455560/cookie-policy" class="iubenda-white iubenda-noiframe iubenda iubenda-noiframe">Cookie Policy and Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
        </div>
    </div>
    <div style="padding-top: 20px;">
        <div class="team-members">
            <div class="member">
                <img src="../static/assets/uni-logo.png" alt="University of Exeter">
                <h3 style="color:white;font-size: 20px;padding-top:10px;">University of Exeter</h3>
            </div>
            <div class="member">
                <img src="../static/assets/iSABEL-logo-small-light.png" alt="Miss iSabel">
                <h3 style="padding-top:10px;color:white;font-size: 20px;">iSABEL</h3>
            </div>
        </div>
    </div>
    <div class="card display_card" data-aos="flip-left" data-aos-easing="ease-in-out" style="border-radius: 40px;">
        <div class="card-body">
            <h1 class="card-title">iSABEL GDPR Statement</h1>
            <p style="color: white;font-size: 30px; width:100%;word-wrap: break-word;">At iSABEL, we are committed to protecting the privacy and security of our users’ personal information. As part
            of our commitment to compliance with the General Data Protection Regulation (GDPR), we have implemented
            measures to ensure that your data is handled responsibly and in accordance with applicable data protection laws.</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Data Collection:</strong><br>
                Our app collects and processes certain personal information, including email addresses and usernames, to offer
                personalized experiences and to allow users to reset their password. We only collect data that is necessary for the
                functionality of our app and for the purposes outlined in our Privacy Policy.
              </li>
              <li class="list-group-item"><strong>Lawful Basis for Processing:</strong><br>
                We process your personal data on the basis of your consent, which you provide when you sign up for our app and
                agree to our Terms of Service and Privacy Policy. You have the right to withdraw your consent at any time by
                contacting us.
              </li>
              <li class="list-group-item"><strong>Data Usage:</strong><br>
                Your personal information is used solely for the purposes of providing our app’s services and ensuring the security
                of our systems. We do not sell or share your personal data with third parties for marketing purposes.
              </li>
              <li class="list-group-item"><strong>Data Security:</strong><br>
                We have implemented appropriate technical and organizational measures to safeguard your personal data against
                unauthorized access, disclosure, alteration, or destruction. All passwords are hashed with secure and up-to-date
                algorithms.
              </li>
              <li class="list-group-item"><strong>Data Retention:</strong><br>
                We will retain your personal data only for as long as necessary to fulfill the purposes for which it was collected,
                including any legal or regulatory requirements. After this period, your data will be securely deleted.
              </li>
              <li class="list-group-item"><strong>Your Rights:</strong><br>
                Under the GDPR, you have certain rights regarding your personal data, including the right to access, rectify, or
                erase your data, as well as the right to restrict or object to its processing. You also have the right to data portability
                and the right not to be subject to automated decision-making.
              </li>
              <li class="list-group-item"><strong>Contact Us:</strong><br>
                If you have any questions, concerns, or requests regarding our handling of your personal data or if you wish to
                exercise your rights under the GDPR, please contact our team at iSABEL.
              </li>
              <li class="list-group-item"><strong>Updates to this Statement:</strong><br>
                We may update this GDPR statement from time to time to reflect changes in our practices or legal requirements.
                Any updates will be posted on our website and reflected in our Privacy Policy.
              </li>
            </ul>

            <p style="color: white;font-size: 30px; width:100%;word-wrap: break-word;">By using our app, you consent to the collection and use of your personal information as described in this statement
            and in our Privacy Policy.</p>

            <p style="color: white;font-size: 30px; width:100%;word-wrap: break-word;">Thank you for trusting iSABEL with your personal data.</p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div id="blank-space"></div>
{% endblock %}