{% extends "site/base.html" %}

{% block content %}
{% if user.is_authenticated %}
    <div class="card profile_card">
        <div class="card-body">
            <h1 class="card-title">Profile info</h1>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="bi bi-at"></i> {{ user.username }}</li>
                <li class="list-group-item"><i class="bi bi-graph-up"></i> {{ user.email }}</li>
                <li class="list-group-item"><i class="bi bi-graph-up"></i> {{ user.user_xp }}</li>
            </ul>
            <a href="{% url 'logout_view' %}" class="btn btn-primary">Log Out</a>
        </div>
    </div>
    <div class="card stats_card">
        <div class="card-body">
            <h1 class="card-title">Stats</h1>
            <h5 class="counter-count">1023</h5>
        </div>
    </div>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a> |
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

{% endblock %}