{% extends "site/base.html" %}
{% load static %}
{% block content %}
    <div class="card qr-card" style="border-radius: 40px;" data-aos="flip-left">
      <img id="qr-code-img" class="card-img-top blurred-image" src="{% static 'assets/random-qr-code.png' %}" alt="Card image cap" style="max-width: 100%; Padding: 20px; border-radius: 40px;">
      <div class="card-body">
        <h5 class="card-title">McDonalds</h5>
        <p class="card-text">Your discount for your next McDonalds order!</p>
        <a href="#" class="btn btn-primary" onclick="toggleBlur(0, 1)">Purchase</a>
      </div>
</div>


    <div class="card qr-card" style="border-radius: 40px;" data-aos="flip-left">
      <img id="qr-code-img1" class="card-img-top blurred-image" src="{% static 'assets/random-qr-code.png' %}" alt="Card image cap" style="max-width: 100%; Padding: 20px; border-radius: 40px;">
      <div class="card-body">
        <h5 class="card-title">Forum Shop</h5>
        <p class="card-text">Your discount for your next shop!</p>
        <a href="#" class="btn btn-primary" onclick="toggleBlur(1, 10000)">Purchase</a>
      </div>
</div>

 <div class="card qr-card" style="border-radius: 40px;" data-aos="flip-left">
      <img id="qr-code-img2" class="card-img-top blurred-image" src="{% static 'assets/random-qr-code.png' %}" alt="Card image cap" style="max-width: 100%; Padding: 20px; border-radius: 40px;">
      <div class="card-body">
        <h5 class="card-title">Ram Bar</h5>
        <p class="card-text">Your discount for your next drink!</p>
        <a href="#" class="btn btn-primary" onclick="toggleBlur(2, 10000)">Purchase</a>
      </div>
</div>



<!-- Add Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<!-- Add Custom CSS -->
<div class="card qr-card" style="border-radius: 40px;" data-aos="flip-left">
    <img id="qr-code-img3" class="card-img-top blurred-image" src="{% static 'assets/random-qr-code.png' %}" alt="Card image cap" style="max-width: 100%; padding: 20px; border-radius: 40px;">
    <div class="card-body">

        <h5 class="card-title">McDonalds</h5>
        <p class="card-price">10 000xp</p>
        <p class="card-text">Your discount for your next McDonalds order!</p>
        <a href="#" class="btn btn-primary" onclick="toggleBlur(3, 10000)">Purchase</a>
    </div>
</div>

<!-- Add Bootstrap JS for button functionality -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    function toggleBlur(i, XP_price) {
        // Send AJAX request to Django view
        fetch(`buy_voucher?amount=${XP_price}`)
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log('Update successful:', data);
            if (data.success){
                var qrCodeImg = document.getElementsByClassName('card-img-top');
                qrCodeImg[i].classList.toggle('blurred-image');
                event.preventDefault();
            }
        })
        .catch(error => {
            console.error('Error updating user:', error);
            // Handle error if needed
        });
    }
</script>

<div id="blank-space">

</div>


{% endblock %}