{# Alicia Henderson 16/3/24 #}
{% extends "gamekeeper/base.html" %}
{% load static %}
{% block content %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <div style="padding-top:100px;"></div>

    <div id="user-reports" class="grid-container">
        {% for report in reports %}
            <div class="user-report">
                <div class="responsive" data-aos="flip-left">
                    <div class="gallery" style="text-align: center">
                        <i class="bi bi-exclamation-diamond" style="font-size: 10em; text-align: center"></i>
                        <div style="padding: 5px;" class="desc">Time: {{ report.reported_at }} </div>
                        <div class="desc" style="padding: 5px;">Message: {{ report.message }}</div>
                        <div class = "desc" style="padding: 5px;">
                            <a href="#" class="resolve-btn resolve-btn-resolve" onclick="toggleBlur(0, 10000)">Resolve</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}