{# Alicia Henderson 16/3/24 #}
{% extends "gamekeeper/base.html" %}
{% load static %}
{% block content %}
<div style="padding-top:100px;">
<div class="responsive" data-aos="flip-left">
  <div class="gallery">
    <a target="_blank" href="bin-img">
      <img src="{% static 'assets/library-bins.jpg' %}" alt="bin">
    </a>
      <div style="padding: 5px;" class="desc">Lib Basement: Law Library South</div>
        <div class="desc" style="padding: 5px;">Bin is full</div>
      <div class = "desc" style="padding: 5px;">
        <a href="#" class="btn btn-primary" onclick="toggleBlur(0, 10000)">Resolve</a>
      </div>
  </div>
</div>

<div class="responsive" data-aos="flip-left">
  <div class="gallery">
    <a target="_blank" href="img_forest.jpg">
      <img src="{% static 'assets/library-bins.jpg' %}" alt="Forest">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="img_lights.jpg">
      <img src="{% static 'assets/library-bins.jpg' %}" alt="Northern Lights">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="img_mountains.jpg">
      <img src="{% static 'assets/library-bins.jpg' %}" alt="Mountains">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>
</div>
</div>
<div class="clearfix"></div>

<!-- Add Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<!-- Add Custom CSS -->


<div id="blank-space">

</div>


{% endblock %}