{# Alicia Henderson 16/3/24 #}
{% extends "gamekeeper/base.html" %}
{% load static %}
{% load report_tags %}
{% block content %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <div style="padding-top:100px;"></div>
    <div class="grid-container">
        {% for report in reports %}
            <div class="card" style="width: 20rem;">
                <i class="bi bi-exclamation-diamond" style="font-size: 10em; text-align: center"></i>
                <div class="card-body">
                    <h5 class="card-title medium">Report</h5>
                    <h5 class="card-subtitle mb-2 text-bold small"> {{ report.reported_at }}</h5>
                    <h5 class="card-subtitle mb-4 text-muted tiny"> {{ report.report_id }}</h5>
                    <p class="card-text">{{ report.message }}</p>
                    <a href="#" class="btn btn-primary" onclick="{% resolve report %}">Resolve</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

