{# Alicia Henderson 16/3/24 #}

{% extends "gamekeeper/base.html" %}
{% load static %}
{% load users_tags %}
{% block title %}Users{% endblock %}

{% block content %}
    {% remove request %}
<div class="table-container">
    <div style="padding-top: 100px">
        <p>start of form</p>
        <div id="userDeleteDiv">
            <form id="userDeleteForm" action="/game/users">
                <label for="userInputField" id="username">Username to Delete:</label><br>
                <input type="text" id="userInputField" name="userInputField"><br><br>
                <button type="submit" class="btn btn-primary">Delete</button>
            </form>
        </div>
    <p>end of form</p>
        <table class = "table table-bordered table-striped" id="userTable">
            <thead class="thead-dark">
            <tr>
                <th>User</th>
                <th>Score</th>
            </tr>
            {% for x in myusers %}
            <tr>
                <td style="color: black;">{{ x.username }}</td>
                <td style="color: black;" class="counter-count">{{ x.user_xp }}</td>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    </div>
</div>
<script>
    function sortTable() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("userTable");
        switching = true;
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("td")[1];
                y = rows[i + 1].getElementsByTagName("td")[1];
                if (Number(x.textContent) < Number(y.textContent)) {
                    shouldSwitch = true;
                    break;
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }
    window.onload = function () {
        sortTable();
    };
</script>
{% endblock %}