{# Alicia Henderson 16/3/24 #}
{% extends "gamekeeper/base.html" %}
{% load static %}
{% block title %}Users{% endblock %}
{% block content %}
<div class="table-container">
    <div style="padding-top: 100px">
        <table class = "table table-bordered table-striped" id="userTable">
            <thead class="thead-dark">
            <tr>
                <th>User</th>
                <th>Score</th>
                <th>Remove</th>
            </tr>
            {% for x in myusers %}
            <tr>
                <td style="color: white;">{{ x.username }}</td>
                <td style="color: white;" class="counter-count">{{ x.user_xp }}</td>
                <td style="color: black;"><button onclick="deletePlayer('{{ x.id }}')">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    </div>
</div>
<script>
    function sortTable() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("userTable");
        switching = true;
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("td")[1]; // Change index to sort based on different columns
                y = rows[i + 1].getElementsByTagName("td")[1]; // Change index to sort based on different columns
                if (Number(x.textContent) < Number(y.textContent)) {
                    shouldSwitch = true;
                    break;
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }
    function deletePlayer(playerId) {
        try{}
    window.onload = function () {
        sortTable();
    };
</script>
{% endblock %}