<!DOCTYPE html>

{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}iSABEL{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/registration-base.css' %}" />
</head>
<body>
    <main>
        <div class="ctn">
            <img class="banner-img" src="{% static 'assets/iSABEL-logo-(light).png' %}">
            {% block content %}
            {% endblock %}
        </div>
    </main>
</body>
</html>