{% extends "registration/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="ctn">
        <img class="banner-img" src="../static/assets/iSABEL%20logo%20(light).png">
        <h1 class="title">Please Login or Signup</h1>
        <a href="{% url 'login' %}" class="btn btn-primary">Log In</a>
        <br>
        <a href="{% url 'signUp' %}" class="btn btn-secondary">Sign Up</a>
        <br>
        <h4 class="subtitle">No account? Sign up now!</h4>
    </div>
{% endblock %}