{% extends "registration/base.html" %}

{% block title %}Enter new password{% endblock %}

{% block content %}
    {% if validlink %}
        <h1 class="title">Set a new password!</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <br>
            <input class="btn btn-primary" type="submit" value="Change my password">
        </form>
    {% else %}
        <h3 class="subtitle">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</h3>
    {% endif %}
{% endblock %}