{% extends "registration/base.html" %}
{% block title %}Password Reset{% endblock %}
{% load password_reset_tags %}

{% block content %}
    {% sendResetCode request as isSent %}
    {% if not isSent %}
        <form onsubmit="">
            <label for="email">Email</label>
            <input id="email" name="email" value="Enter Email">
            <input type="submit" value="Send Code">
        </form>
    {% else %}
        <form action="">
            <label for="code">Code</label>
            <input id="code" name="code" value="Enter Code">
            <input type="submit" value="Submit">
        </form>
    {% endif %}
{% endblock %}