{% extends "registration/base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary sign-up-btn">Sign Up</button>
    <h3 style="text-align: center"><a href="https://www.iubenda.com/privacy-policy/54455560/cookie-policy" class="iubenda-white iubenda-noiframe iubenda iubenda-noiframe">Cookie Policy and Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></h3>

</form>
{% endblock %}